{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
<div class="container-fluid mt-8">
    <h1>Nouveau RDV</h1>

    <div class="jumbotron" >
        {{ include('booking/_form.html.twig') }}
    </div>

</div>

{% endblock %}
