{# templates/emails/confirmeReservation.html.twig #}
<h3> Confirmation ! </h3>

Bonjour {{ user.user }} ! Votre rdv est confirmée.<br>





<img src= " {{ absolute_url ( asset ( 'images/logo.png' )) }} " >
